.main {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 72px;
  @include mobile {
    padding-top: 50px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--row-gap-y);
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }
  &__image {
    & img {
      width: 1024px;
      aspect-ratio: 1024/480;
      object-fit: cover;
      max-width: 100%;
      object-position: top;
      @include mobile {
        aspect-ratio: 375/202;
        object-fit: contain;
      }
    }
  }
}

.companies {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
    text-align: center;
  }
  &__list {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include mobile {
      justify-content: center;
    }
  }
  &__logo {
    width: 140px;
    height: 48px;
    & img {
      max-width: 100%;
    }
  }
}