body {
  font-family: 'Inter', sans-serif;
  color: var(--color-gray);
  line-height: 1.5;
  background-color: var(--color-light);
  &.menu-open {
    //overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

a,
button,
svg {
  transition-duration: var(--transition-duration);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
}
